$scrollbar-width: 6px;

@mixin scroll {
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar {
        width: $scrollbar-width;
        height: $scrollbar-width;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 33px;
        background: #b9b9b9;

        &:hover {
            background: #0d99ff;
        }
    }
}

gh-study-journal {
	width: 95%;

	.pagination {
		max-width: 550px;

		display: flex;
		justify-content: space-between;
		align-items: center;

		&.display-none {
			display: none;
		}

		div {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 5px;

			button {
				padding: 5px;
				background-color: #007aff;
				border: none;
				color: #fff;
				transition: all .3 ease;

				&.selected {
					background-color: #5e85af;
				}
			}
		}

		.icon-button {
			&:has(span) {
				-moz-box-flex: 0;
				flex: 0 0 auto;
				height: 2.5em;
				width: 2.5em;
				padding: 0.5em;
			}
		}
		.pagination-button {
			background-color: transparent;
			border: none;

			transition: opacity 0.1s ease-out, background-color 0.1s ease-out;

			-moz-box-pack: center;
			-moz-box-align: center;
			align-items: center;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			cursor: pointer;
			display: inline-block;
			display: -moz-inline-box;
			display: inline-flex;
			font-size: 1em;
			justify-content: center;
			overflow: hidden;
			position: relative;
			text-align: center;
			text-overflow: ellipsis;
			touch-action: manipulation;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			vertical-align: middle;
			white-space: nowrap;
			z-index: 1;

			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background: none;
			border: 0;
			margin: 0;
			padding: 0.5em;

			color: #007aff;

			&:hover {
				opacity: 0.7;
			}

			span {
				color: #007aff;

				-moz-box-flex: 0;
				display: inline-block;
				flex: 0 0 auto;
				height: 1.5em;
				line-height: 1.5em;
				text-align: center;
				vertical-align: middle;
				width: 1.5em;

				direction: ltr;

				svg {
					fill: currentColor;
					display: block;
					height: 100%;
					margin: 0 auto;
					width: 100%;
				}
			}
		}

		.disabled {
			pointer-events: none;
			opacity: 0.5;
			cursor: none;
		}
	}

	.table-scroll {
        overflow: auto;
        position: relative;

        @include scroll();
    }

	.journal-table {
		position: relative;
		z-index: 0;
	}

	.handsontable {
		font-size: inherit;

		th {
			div {
				height: 100%;
				
				display: flex;
				justify-content: center;
				align-items: center;
				
				.colHeader {
					writing-mode: vertical-rl;
					
					&.writing-mode-inherit {
						writing-mode: inherit;
					}
					white-space: pre-line;
				}
			}
			&.todayColumn {
				background-color: #008cff3f;
			}
		}
		
		td {
			&.todayColumn {
				background-color: #008cff1e;
			}
		}
		
		.ht_master {
			.wtHolder {
				&::-webkit-scrollbar-track {
					background: #f1f1f1;
				}

				&::-webkit-scrollbar {
					width: 16px;
					height: 16px;
					background-color: #f5f5f5;
				}

				&::-webkit-scrollbar-thumb {
					border-radius: 3px;
					background: #b9b9b9;

					&:hover {
						background: #0d99ff;
					}
				}
			}
		}
	}
}
